.badan_tabel{ 
    margin: auto; 
    border: 1px solid #999999; 
} 

.header{ 
    background-color: #6699FF; 
    padding: 5px; 
    height:100px; 
} 

.list_menu{ 
    background-color: #FFCC99; 
    margin: 0px; 
    width: auto; 
    padding: 0px; 
} 

.list_menu li{ 
    float:left; 
    display:block; 
    list-style-type: none; 
    border-right-width:1px; 
    border-right-style:solid; 
    border-right-color:#999999; 
    padding:10px; 
} 

.list_menu li:hover{ 
    background-color: #FFFFFF; 
} 

.list_menu li a{ 
    text-decoration: none; 
} 

.list_menu li a:hover{ 
    font-weight:bold; 
    color:red; 
} 

table{ 
    border-collapse:collapse; 
}